@{
    Layout = null;

    var shoeModel = "History Of Air Jordan";
    var modelNumber = 1;
    var description = "<p>On October 18, 1984, the NBA banned Michael Jordan’s black and red Air Jordan 1s for violating the league’s uniform codes. This decision triggered a craze that foreshadowed a legend in the making. </p>";
    var brands = new string[]
    {
        "Designer: Peter Moore ",
        "Brand Name: Nike ",
        "Designed for: Michael Jordan",
        "Retail: $160",
        "Release Year: 1985"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@shoeModel</h1>
    <h2>Model #@modelNumber</h2>

    <h5>Description: </h5>
    <div>@Html.Raw(description)</div>

    @if (brands.Length > 0)
    {
        <h5>Brands:</h5>
    <div>
        <ul>
            @foreach (var brand in brands)
            {
                <li>@brand</li>
            }
            </ul>
        </div>
      }
   </div>
</body>
</html>
