@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "History Of Jordans";
}

<h1>@ViewBag.ShoeModel</h1>
<h2>Model #@ViewBag.ModelNumber</h2>

<h5>Description: </h5>
<div>@Html.Raw(ViewBag.Description)</div>

@if (ViewBag.Brands.Length > 0)
{
<h5>Brands:</h5>
<div>
<ul>
    @foreach (var brand in ViewBag.Brands)
    {
        <li>@brand</li>
    }
    </ul>
</div>
}
  