@model Sneakerinformation1.Models.Sneakers[]

@{ 
    ViewBag.ShoeModel = "Sneakers";
}

<h2>@ViewBag.ShoeModel</h2>

<div class="row">
    @foreach (var sneakers in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(sneakers.DisplayText, "Detail", 
               new { id = sneakers.Id })</h4>
            <img src="~/Images/bred 1.png"
                 alt="@sneakers.DisplayText"
                 class="img-responsive" />
        </div>
    }
    </div>